@import '~bootstrap/scss/bootstrap';

.header_info{
    background-color: blue;
    color: white;
}

.nav_active{
    background-color: yellow;
}

main{
    background-color: darkslategray;
    color: white;
}